FLASK_ENV=development
SECRET_KEY=sige-ufpi-dev-secret-key

JWT_SECRET_KEY=sige-ufpi-jwt-secret
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=1440

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sige_ufpi

# API
API_HOST=0.0.0.0
API_PORT=5000
